footer{
    margin: 2px;
    width: 96.10%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
}